@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Dut.Get.Good.Localization
@using Volo.Abp.Users
@model Dut.Get.Good.Web.Pages.IndexModel
@inject IHtmlLocalizer<GoodResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-mask"></i> It's, <strong>TIIIIIME</strong> to get good!</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-auto text-center">
                    <img src="~/Images/Home/wallpaperflare.com_wallpaper.jpg" style="max-width: 400px;" class="w-100 mb-5 my-md-3">
                    <strong>Just think of something that motivates you because it is too hard to write something else in here...</strong>
                </div>
            </div>
        </div>
    </div>
</div>
