@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Dut.Get.Good.Localization
@using Volo.Abp.Users
@model Dut.Get.Good.Web.Pages.IndexModel
<head>
	<link href="~/index-styles.css" rel="stylesheet" />
</head>
<div class="bg-image bg-parallax overlay" style="background-image:url(../Images/Home/background.jpg)"></div>
<div class="container-fluid">
    <div id="home" class="hero-area">
        <div class="home-wrapper">
            <div class="container">
                <div class="row text-center" style="justify-content: center">
                    <div class="col-md-8">
                        <h1 class="white-text">Are you ready?</h1>
                        <p class="lead white-text">Then lets begin...</p>
                        <a class="main-button icon-button" href="#"><i class="material-icons">login</i>&nbsp;Start Adventure</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section-hr">
    <div id="why-us" class="section">
        <div class="container">
            <div class="row text-center" style="justify-content:center">
                <div class="section-header">
                    <h2>Not Motivated ? We Got You</h2>
                    <p class="lead">So, Just think of something super motivational because it is too hard to write something else in here at the moment...but we can always change this later</p>
                </div>
            </div>
        </div>
    </div>
</div>