<footer class="footer">
	<div class="container-fluid">
		<div class="copyright float-right">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script> <i class="material-icons">home</i> by
			<a href="https://www.dutappfactory.tech" target="_blank">DUT AppFactory</a>
		</div>
	</div>
</footer>
