<div class="sidebar" data-color="purple" data-background-color="black" data-image="../Images/Home/sidebar.jpg">
    <div class="logo">
        <a href="~/Index" class="simple-text logo-normal">
            Getting Good
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="~/Index">
                    <i class="material-icons">widgets</i>
                    <p>Main Menu</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" asp-controller="/Ranks">
                    <span class="sidebar-mini"><i class="material-icons">star</i></span>
                    <span class="sidebar-normal">Rankings</span>
                </a>
            </li>
        </ul>
    </div>
</div>
