@page
@model Dut.Get.Good.Web.Pages.Races.RaceDetailsModel


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">groups</i>
                        </div>
                        <h4 class="card-title">
                            Race Details
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Race Description</label>
                                    <input type="text" class="form-control" value="@Model.ObjectToDisplay.RaceDescription">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">Modify</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>